<!DOCTYPE html>
<html>

<head>
		
	<title>root</title>	<!-- Titulo do site -->
	<meta charset="utf-8"/>		<!-- tipo de codificacao-->
	
	<link rel="stylesheet" type="text/css" href="style/style_index.css" >	<!-- Invoca o estilo CSS -->
	<script src="script/scipt.js" ></script>							<!-- Incova o JavaScript-->
	
</head>


<body>
 
    {{{body}}}
 
</body>
</html>
