
<body>

	<div id="cabecalho">
		
		<header>

			<!-- Logotipo -->
			<div id="logo">
				<h1> GameStore </h1>
			</div>

		</header>

		<main>
			
			<!-- Dados do usuario -->
			<div id="dadosUsuario">
		
			<form action="cadastro" method="post" >
				<input type="text" name="login" id="idLogin" size="20" placeholder="Login"  />    
				<input type="password" name="senha" id="idSenha" size="10" placeholder="Senha" /> 
				<input type="submit" id="idOkLogin" size="2" value="OK" />
			</form>

		</div>

		</main>

		
	</div> <!-- Fim cabecalho -->
	
	<!-- Menu de cabecalho -->
	

</body>
