<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>


	<h1>{{title}}</h1>
	<!-- <h3> {{resultado}} </h3> -->


			{{#each resultado}}

					{{this.catid}} 
					{{this.nome}} 

			{{/each}}




</body>
</html>