
<body>
	
	<div id="corpo">
	
		<!-- Header - Define o cabecalho ou grupos de titulos -->
		<header>

			<div id="cabecalho">
				
				<!-- Logotipo -->
				<div id="logo">
					<h1> GameStore </h1>
				</div>

				<!-- Dados do usuario -->
				<div id="dadosUsuario">
					<form name="formLogin">
						<input type="text" id="cLogin" size="20" value="root" readonly \>
						<br> <br>
						<input type="search" id="cPesquisa" size="40" value="Pesquisar" onClick="limpa(value)" \>
					</form>
				</div>

				<!-- Carrinnho -->
				<div id="carrinho">
					<form name="formCarrinho">
						<p>Quant. de Ítens
						<input type="" id="cCarrinho" size="2" value="0" readonly \>
						</p>
						<p>Valor Total
						<input type="text" id="cTotal" size="2" value="0" readonly />
						</p>

					</form>
				</div>
				
			</div> <!-- Fim cabecalho -->
			
			<!-- Menu de cabecalho -->
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li>Novidades</li>
					<li>Contato</li>
					<li><a href="cadastroProduto">Cadastrar Produto</a></li>
					<li><a href="cadastraCategoria">Adicionar Categoria</a></li>
				</ul>
			</nav>

		</header>

		<main>

			<div id="myMain">
				<!-- Nav - Contem os links (importantes) de navegacao -->
				<nav> <!-- Menu de categorias -->
					
					<ul>
						{{#each resultado}}
							<li> {{this.nome}} </li>
						{{/each}}
					</ul>
				
				</nav>

				<div class="Produtos">

					<ul>

						<!-- Produto 1 -->
						<li>	
							<figure class="Fig-produto">
								<img src="images/processador-i7.png" alt="CPU Core i7">
								<figcaption>
									<h5>Em estoque</h5>
								</figcaption>
							</figure>
							<h3>Processador i7 8086k</h3>						
							<span> R$ 1.000,00 </span> <br>
							<input type="button" name="botao-p1" value="Adicionar" onClick="cart()" />
						</li>

						<!-- Produto 2 -->
						<li>	
							<figure class="Fig-produto">
								<img src="images/ssd-kingston-240gb.png" alt="CPU Core i7">
								<figcaption>
									<h5>Esgotado</h5>
								</figcaption>
							</figure>
							<h3>HD SSD Kingston</h3>
							<span> R$ 1.000,00 </span> <br>
							<input type="button" name="botao-p2" value="Adicionar" onClick="cart()" />
						</li>

					</ul> <!-- Fim lista de produtos -->

				</div> <!-- Fim classe de produtos -->
			
			</div>

		</main>
		
		<!-- Footer - Contem os elementos de rodape -->
		<footer>
			<address>
				<a href="https://github.com/felipenasci">gitHub</a>
			</address>
		</footer>
	
	</div>

</body>

